<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <a class="navbar-brand" href="http://localhost:3000/">
       <%= image_tag('logo_1.png', width: 250) %>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item active">


        </li>
        <% if current_user %>

        <li class="nav-item dropdown">
          <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="<%= image_tag('jean_pierre_foucault.png') %>" style="width:45px"/>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">

            <a><%= link_to 'Mon Profile', user_session_path %></a>
            <br>
             <a><%= link_to 'Mes Reservation', dashboard_path(current_user) %></a>
             <br>
             <a><%= link_to 'Devenir Daron', new_daron_path %> </a>

          </div>
        </li>
         <% end %>
      </ul>
    </div>

  </div>
</div>
