
<h1 class = 'cool_title'>Les Darons</h1>

<div class='daron_cards'>
  <div class="cards">
    <% @darons.each do |daron| %>
      <%= link_to daron_path(daron.id) do %>
        <div class="card">
        <img class="card-img-top" src="<%= daron.profile_picture %>" alt="">
          <h2><%= daron.name %></h2>
          <h5>Prix : <%= daron.price %> €</h5>
          <p>Bio : <%= daron.bio %></p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<%= link_to "Back Home", root_path %>
<%= link_to "Create new Daron", new_daron_path %>
