
<h1 class = 'cool_title'>Les Darons</h1>

<form action="/darons" method="get" id="daron_search_form">
  <div class="daron_search_index">
      <div class="search-element">
        <label class="search-label cool_title_small">Quelle  Specialité  cherchez  vous  ?</label>
        <input class="search-input" type="text" autocomplete="on" placeholder="Cuisine, Mecano..." name="badges">
      </div>
      <div class="search-element">
        <label class="search-label cool_title_small">Ou  cherchez  vous?</label>
        <input class="search-input" type="text" placeholder="Code Postal..." autocomplete="on" name="zip_code">
      </div>
      <div class="search-element">
        <input type="submit", class="search-button", value="DARONIZE">
      </div>
  </div>
</form>

<%# <div class='daron_cards'>
 %>  <div class="cards">
    <% @darons.each do |daron| %>
      <%= link_to daron_path(daron.id) do %>
        <div class="card_dash">
          <img class="card-img-top" src="<%= daron.profile_picture %>" alt="">
          <div class="card-body">
            <h2 class="card-title cool_title_small"><strong><%= daron.name %></strong></h2>
            <p class="card-text">Bio: <%= daron.bio %></p>
            <br>
            <br>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Compétence: <%= daron.badges %></li>
            <li class="list-group-item">TJM: <%= daron.price %>$</li>
            <li class="list-group-item">Département: <%= daron.zip_code %></li>
          </ul>
            <br>
            <br>
          <button type="button" class="btn btn-danger btn-lg w-5">Réserver !</button>
        </div>
      <% end %>
    <% end %>
  </div>
<%# </div>
 %>

<%= link_to "Back Home", root_path %>
<%= link_to "Create new Daron", new_daron_path %>
