
<h1 class = 'cool_title'>Les Darons</h1>

<form action="" method="get" id="daron_search_form">
  <div class="daron_search_index">
      <div class="search-element">
        <label class="search-label">Quelle Specialité cherchez vous?</label>
        <input class="search-input" type="text" autocomplete="on" placeholder="Cuisine, Mecano..." name="badges">
      </div>
      <div class="search-element">
        <label class="search-label">Ou cherchez vous?</label>
        <input class="search-input" type="text" placeholder="Code Postal..." class="" autocomplete="on" name="zip_code">
      </div >
      <a class = "button_search_index" type="submit" class="search-button">Yes papa!</a>
  </div>
</form>


<%# <div class='daron_cards'>
 %>  <div class="cards">
    <% @darons.each do |daron| %>
      <%= link_to daron_path(daron.id) do %>
        <div class="card_dash">
        <img class="card-img-top" src="<%= daron.profile_picture %>" alt="">
          <h2><%= daron.name %></h2>
          <h5>Prix : <%= daron.price %> €</h5>
          <p>Bio : <%= daron.bio %></p>
          <br><br>
          <br><br>
          <p >Compétence : <%= daron.badges %></p>
        </div>
      <% end %>
    <% end %>
  </div>
<%# </div>
 %>
<%= link_to "Back Home", root_path %>
<%= link_to "Create new Daron", new_daron_path %>
