
  <div class= typewriter_daron_new>
    <p>N'attends plus ! poses ta Rent ci-dessous</p>
  </div>

  <div class="image_daron">
  </div>

  <div class="daron_new_form">
    <div class="form_center">
    <div class="segment">
        <%= simple_form_for [@daron] do |f| %>
          <%= f.input :name %>
          <%= f.input :profile_picture %>
          <%= f.input :price %>
          <%= f.input :bio %>
          <%= f.input :badges %>
          <%= f.input :zip_code %>
          <%= f.input :phone_number %>
           <div class="unit">
          <%= f.submit "Submit for a new Daron", class: "btn btn-danger" %>
        <% end %>
    </div>
  </div>
<%= link_to "Back Home", root_path %>
