<%# hey %>
<% if current_user.id == @daron.user_id %>
  <h2 class= 'daron_show_name'><%= @daron.name %></h2>
  <div class="container text-end">
    <a class="btn btn-outline-danger btn-sm text-hover-light" href="<%=edit_daron_path(@daron)%>" role="button">Edit</a>
    <a class="btn btn-outline-danger btn-sm text-hover-light" href="<%=darons_path()%>" role="button">Back</a>
  </div>
<% end %>


<img class = 'image_daron_show' src="<%= @daron.profile_picture %>" alt="">
<br>
<div class = 'daron_info center'>
<p class="card-title cool_title_small"><strong><%= @daron.name %></strong></p>
<br>
<p>Prix : <%= @daron.price %> €</p>
<p>Bio : <%= @daron.bio %></p>
</div>

<br>
<br>


<h2 class = 'titre_resa'>Réserver un créneau avec <%= @daron.name %></h2>
<div class='booking_form'>
  <%= simple_form_for [@daron, @booking] do |f| %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.submit %>
  <% end %>
</div>
